<html>
    <head>
        <title>Tournament Maker</title>
        <link rel="stylesheet" href="{basePath}css/bootstrap.min.css">
        <link rel="stylesheet" href="{basePath}css/sweetalert2.css">
        <link rel="stylesheet" href="{basePath}css/fontawesome.all.min.css">
        <link rel="stylesheet" href="{basePath}css/tournamentMaker.css">
    </head>
    <body ng-app="tournamentMaker">
        <script type="text/javascript">
            var basePath = '{basePath}';
        </script>
        <br>

        <div class="container" ng-controller="TournamentController">

            <div class="row">

                <div class="col-lg-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-2 text-left">
                                        <img ng-if="'{imageLogo}'" width="100px" src="{basePath}{imageLogo}">
                                    </div>
                                    <div class="col-lg-10 text-left container-vertical-center">
                                        <h1><strong>{name}</strong></h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body text-left container">

                            <div class="row">

                                <div class="col-lg-6">

                                    <div class="card">

                                        <div class="card-header">
                                            Allgemein
                                        </div>

                                        <div class="card-body">

                                            <div class="form-group">
                                                <label>Turniername</label>
                                                <input type="text" class="form-control" ng-model="tournamentname">
                                            </div>

                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" ng-model="resultdetailed" id="resultpagedetailed">
                                                <label class="form-check-label" for="">Resultatseite detailliert</label>
                                            </div>

                                        </div>

                                    </div>
                                    <br>
                                    <div class="card">

                                        <div class="card-header">
                                            Zeiten
                                        </div>

                                        <div class="card-body">

                                            <div class="form-group">
                                                <label>Spieldauer</label>
                                                <div class="input-group">
                                                    <input type="number" min="1" class="form-control" ng-model="duration">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Minuten</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Spielpause</label>
                                                <div class="input-group">
                                                    <input type="number" min="0" class="form-control" ng-model="pause">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Minuten</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Erstes Spiel Vorrunde</label>
                                                <div uib-timepicker ng-model="prefirsttime" hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
                                            </div>

                                            <div class="form-group">
                                                <label>Erstes Spiel Rückrunde</label>
                                                <div uib-timepicker ng-model="backfirsttime" hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
                                            </div>

                                        </div>

                                    </div>

                                    <br>
                                    <div class="card">

                                        <div class="card-header">
                                            KO-Phase
                                        </div>

                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Finalpaarungen</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="final" ng-model="finalpairs" ng-value="0">
                                                    <label class="form-check-label" for="final">ab Final</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" ng-disabled="teams.length < 4" type="radio" id="semifinal" ng-model="finalpairs" ng-value="1">
                                                    <label class="form-check-label" for="semifinal">ab Halbfinal <small ng-if="teams.length < 4" class="text-warning">(ab 4 Mannschaften)</small></label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" ng-disabled="teams.length < 8" type="radio" id="quarterfinal" ng-model="finalpairs" ng-value="2">
                                                    <label class="form-check-label" for="quarterfinal">ab Viertelfinal <small ng-if="teams.length < 8" class="text-warning">(ab 8 Mannschaften)</small></label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Spieldauer</label>
                                                <div class="input-group">
                                                    <input type="number" min="1" class="form-control" ng-model="durationko">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Minuten</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Spielpause</label>
                                                <div class="input-group">
                                                    <input type="number" ng-disabled="finalpairs < 1" min="0" class="form-control" ng-model="pauseko">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Minuten</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Erstes Spiel KO-Phase</label>
                                                <div uib-timepicker ng-model="prefirsttimeko" hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6">

                                    <div class="card">
                                        <div class="card-header">
                                            Teams
                                        </div>

                                        <div class="card-body">

                                            <div class="alert alert-info">
                                                <small class="form-text text-muted">
                                                    <i class="fas fa-info-circle"></i>
                                                    Sie müssen zwischen 3 und 10 Teams definieren
                                                </small>
                                            </div>

                                            <div class="form-group" ng-repeat="team in teams track by $index">
                                                <label>Teamname {{$index + 1}}</label>
                                                <input type="text" class="form-control" ng-model="teams[$index].name">
                                            </div>

                                            <button class="btn btn-success" ng-disabled="teams.length > 9" ng-click="add()"><i class="fas fa-plus-circle"></i> Team hinzufügen</button>
                                            <button class="btn btn-danger" ng-disabled="teams.length < 4" ng-click="remove()"><i class="fas fa-minus-circle"></i> Team entfernen</button>

                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary" ng-click="generate()"><i class="fas fa-file-excel"></i> Excel generieren</button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 text-right">
                    <small class="badge badge-info">{version}</small>
                </div>

            </div>

        </div>

        <br>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="{basePath}js/bootstrap.bundle.min.js"></script>
        <script src="{basePath}js/angular.min.js"></script>
        <script src="{basePath}js/ui-bootstrap-tpls.js"></script>
        <script src="{basePath}js/angular-file-saver.bundle.js"></script>
        <script src="{basePath}js/sweetalert2.js"></script>
        <script src="{basePath}js/fontawesome.all.min.js"></script>
        <script src="{basePath}js/tournamentMaker.js"></script>
    </body>
</html>
